@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Lobster&family=Mukta:wght@300&family=Yanone+Kaffeesatz&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  color:#12232E
}


.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    width: auto;
}
.header{
    grid-column: 2/3;
    background-color: #EEFBFB;
    
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-section{
    width: 60vw;
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 2.7rem;
}
 .ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    -webkit-appearance: none;
}

.search-section i:hover {
    transform: scale(.9, 0.5);
    transition: transfom .4s ease-in-out;
}
.search-section #search{
    width: 75%;
    background-color: #4DA8DA;
    border-radius: 15px;
    margin-left: 20px;
    
}

.profile-section{
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 2.7rem;
}

.profile-section .logo {
    font-size: 1.7rem;
}
.profile-section img{
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
}

.profile-section h3{
    font-weight: 700;
    font-size: 1.4rem;
}

.bottom{
    display: flex;
    align-items: center;
    padding: 10px 0;
    
}
.start-container{
    width: 65vw;
    display: flex;
    margin-left: 38px;
}
.user-profile-big{
    display: block;
    border-radius: 50%;
    height: 3.7rem;
    width: 3.7rem;
}
.r {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}

.hi-para{
    font-weight: 700;
    font-size: 1.2rem;
}

.main-user-name{
    font-weight: 700;
    font-size: 1.8rem;
}

.btn-contorl{
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    
}
.btn-contorl button{
    display: inline-block;
    padding: 0.4rem 1.3rem;
    margin: 0 1rem;
    border-radius: 20px;
    border: none;
    font-weight: 800;
    background-color:  #007CC7;
    cursor: pointer;
    font-size: 1.5rem;
}
.btn-contorl button:hover{
    transform: translateY(-5px);
    transition: all 0.4 ease-in-out;
    box-shadow: 0 6px 5px rgba(0,0,0,0.2);
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:  #007CC7;
    
}
nav{
    display: flex;
    flex-direction: column;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 30px;
}
.sidebar-logo i{
    font-size: 3.3rem;
    margin-right: 6px;
}
.sidebar-logo p{
    font-size: 1.4rem;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #12232E;
}
.controls .sidebar-title,
.settings .sidebar-title{
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 15px;
    
}
.sidebar-title i{
    font-size: 1.2rem;
    margin-right: 15px;
}

.sidebar-title p{
    font-size: 1.2rem;
    font-weight: 600;
}

.sidebar-title p:hover{
    transition: all 0.4 ease-in-out;
    transform: translateX(3px);
}
.settings{
    margin-top: 56px;
}


.content{
    grid-column: 2/3;
    background-color: #203647;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    gap: 30px; 
    height: auto;
    width: auto;
}


.content h2{
    font-weight: 800;
    font-size: 1.4rem;
    color: white;
    
    margin-bottom: 0.5rem;
     
}

.projects{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    gap: 30px;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.project{
    background-color: #EEFBFB;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.project:hover{
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.card-text{
    min-height: 35vh;
}

.card-text h6{
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 35px;
    top:0;
}
.card-text p{
    font-size: 1.2rem;
}

.redirect-card{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 3rem 1rem 0 0;
    
}
.redirect-card a i{
    margin-left: 1rem;
    font-size: 1.5rem;
}



.ann-trani{
    display: grid;
    grid-template-rows: auto;
    grid-row: 1/3;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px; 
}


.announcements{
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.ann-treni > div h2 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.5rem;
  
}


.announcements-cards{
    display: flex;
    flex-direction: column;
    background-color: #EEFBFB;
    padding: 15px 30px; 
    border-radius: 10px;
    justify-content: space-evenly;
}

.announcements-card{
    margin-bottom:  15px;
    margin-top: 15px;
    
}
 .Announcement-border{
    width: 100%;
    height: 1px;
    background-color: #203647;
 }



.announcements-card h6{
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: .3rem;
    
}
.announcements-card p{
    font-size: 1rem;
}
.trendi{
    grid-row: 2/3;
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

 .trendi h2 {

} 

.projects h2{
 font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  grid-column: 1/-1;
  margin-bottom: -1.5rem; 
}
.trending-content{
    background-color: #EEFBFB;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    border-radius: 10px;
}

.trending{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.trending .info{
 display: flex;
 flex-direction: column;
}

.trending img{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 15px; 
}

.info .trend-user{
    font-size: 1.2rem;
}

.trend-bio{
    font-size: 1.1rem;
}


